<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <app></app>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
